<%= form_for @listing do |form| %>
<!-- title_form -->
<div class="text-field">
  <%= form.label :Name %>
  <%= form.text_field :title, type: 'title' %>
</div>

<!-- roomtype_form -->
<div class="text-field">
  <%= form.label :propaty_type %>
  <%= form.text_field :room_type, type: 'room_type' %>
</div>

<!-- country -->
<div class="text-field">
  <%= form.label :country %>
  <%= form.text_field :country, type: 'country' %>
</div>

<!-- roomtype_form -->
<div class="text-field">
  <%= form.label :city %>
  <%= form.text_field :city, type: 'city' %>
</div>


<!-- num_of_room_form -->
<div class="text-field">
  <%= form.label :num_of_rooms %>
  <%= form.text_field :num_of_rooms, type: 'num_of_rooms' %>
</div>

<!-- num_of_bed_form -->
<div class="text-field">
  <%= form.label :num_of_beds %>
  <%= form.text_field :bed_number, type: 'bed_number' %>
</div>

<!-- num_of_bed_form -->
<div class="text-field">
  <%= form.label :num_of_guest %>
  <%= form.text_field :guest_number, type: 'guest_number' %>
</div>

<!-- price_form -->
<div class="text-field">
  <%= form.label :price %>
  <%= form.text_field :price, type: 'price' %>
</div>

<!-- description -->
<div class="text-field">
  <%= form.label :description %>
  <%= form.text_field :description, type: 'description' %>
</div>

<!-- house_rules -->
<div class="text-field">
  <%= form.label :house_rules %>
  <%= form.text_field :house_rules, type: 'house_rules' %>
</div>

<!-- photos-->
<div class="photos">
  <%= form.label :photos %>
  <%= form.file_field :photos, multiple: true %>
</div>

    <div class="submit-field">
      <%= form.submit %>
    </div>
  
<% end %>
