<h2>All Listings</h2>

<!--  new_listing -->
<div class="new_listing">
<%= link_to 'New Listing', new_listing_path %>
</div>

<!--  sort -->
<div class="sortable_bar">
<%= sortable "id", "Newest " %>
<%= sortable "price", "Lowest Price First " %>
<%= sortable "num_of_rooms", "Our top Picks " %>
<%= sortable "guest_number", "Review Score" %>
</div>

<!--  seaching -->



<!--  seaching -->
<%= render 'search_form' %>



<!--  all_listing -->
<div class="all_listings">
<table class= "table">

<thead>
 <tr>
 <th>Name</th>
 <th>country</th>
 <th>city</th>
 <th>Propaty type</th>
 <th>Nom of rooms</th>
 <th>Nom of bed</th>
 <th>Nom of guest</th>
 <th>Price(RM)</th>
 <th>Description</th>
 <th>House Rules</th>


 </tr>

</thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.country %></td>
        <td><%= listing.city %></td>
        <td><%= listing.room_type %></td>
        <td><%= listing.num_of_rooms %></td>
        <td><%= listing.bed_number %></td>
        <td><%= listing.guest_number %></td>
        <td><%= listing.price %></td>
        <td><%= listing.description %></td>
        <td><%= listing.house_rules %></td>
        <!-- <td><%= listing.verification %></td> -->

        <!--  show,edit,destroy if you dont singned , display the erroer messeage -->
        <td><%= link_to 'Show', listing_path(listing) %></td>

        <td><%= link_to 'Edit?', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing_path(listing), method: :delete %></td>

       <!--  verify -->
        <% if signed_in? -%>
            <% if current_user.superadmin? || current_user.moderator? %>
                <td>
                    <%= button_to "verify!", verify_path(listing) %>
                </td>
                
            <% end %>
            <% else %>
        <% end %>

       
      </tr>
    <% end %>
  </tbody>

</table>
</div>

<%= will_paginate @listings %>
