<div class="container">

<h2>All Listings</h2>

<!--  new_listing -->
<div class="new_listing">
<%= link_to 'New Listing', new_listing_path %>
</div>

<!--  render 'search_form' -->
  
    <%= form_tag(listings_path, class: 'form-inline', :method => "get") do %>
      <%= text_field_tag :country, params[:country], placeholder: "Anywhere", class:'form-control col-lg-6'%>
      <%= number_field_tag :guest_number ,params[:guest_number], placeholder: "Number of people", class:'form-control col-lg-6'%>
      <%= submit_tag "Search", class:'btn btn-secondary', style:'display: inline;'%>
    <% end %>

<!--  <%=  %> -->

 <!--  sort -->
<div class="sortable_bar">
<%= sortable "id", "Newest " %>
<%= sortable "price", "Lowest Price First " %>
<%= sortable "num_of_rooms", "Our top Picks " %>
<%= sortable "guest_number", "Review Score" %>
</div>

<!-- alllisting_2 -->
<div class="all_listings">

<div  id="tourpackages-carousel">
     <% @listings.each_slice(3) do |listings| %>
      
      <div class="row">
        <% listings.each do |listing| %>
        
        <section class="col-xs-18 col-sm-6 col-md-4">
          <div class="thumbnail">
            <% if listing.photos? %> 
                <%= link_to (image_tag listing.photos[0].small,:class => "thum"),listing_path(listing) %>
            <% else %>
                <%= link_to (image_tag "/assets/242200.png",:class => "thum" ),listing_path(listing)%>  
            <% end %>

            <div class="caption">
            <p>Country/<td><%= listing.country %></td></p>
            <p>City/<td><%= listing.city %></td></p>
            <p>Propaty type/<td><%= listing.room_type %></td></p>
            <p>Price(RM)/<td><%= listing.price %></td></p>
                
            </div>
          </div>
        </section>
        <% end %>
      </div><!-- End row -->
     <% end %>
    </div><!-- End container -->


</div>

<!-- alllisting2 -->
<!--  all_listing -->
<!-- <div class="all_listings">
<table class= "table">

<thead>
 <tr>
 <th>Name</th>
 <th>country</th>
 <th>city</th>
 <th>Propaty type</th>
 <th>Nom of rooms</th>
 <th>Nom of bed</th>
 <th>Nom of guest</th>
 <th>Price(RM)</th>
 <th>Description</th>
 <th>House Rules</th>


 </tr>

</thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.country %></td>
        <td><%= listing.city %></td>
        <td><%= listing.room_type %></td>
        <td><%= listing.num_of_rooms %></td>
        <td><%= listing.bed_number %></td>
        <td><%= listing.guest_number %></td>
        <td><%= listing.price %></td>
        <td><%= listing.description %></td>
        <td><%= listing.house_rules %></td>
        <!<td><%= listing.verification %></td> -->
<!-- 
        show,edit,destroy if you dont singned , display the erroer messeage
        <td><%= link_to 'Show', listing_path(listing) %></td>

        <td><%= link_to 'Edit?', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing_path(listing), method: :delete %></td>

       verify
        <% if signed_in? -%>
            <% if current_user.superadmin? || current_user.moderator? %>
                <td>
                    <%= button_to "verify!", verify_path(listing) %>
                </td>
                
            <% end %>
            <% else %>
        <% end %>

       
      </tr>
    <% end %>
  </tbody>

</table>
</div> --> 


<%= will_paginate @listings %>
</div>

    




