<h2>All Listings</h2>


<%= link_to 'New Listing', new_listing_path %>

<div class="all_listings">
<table class= "table">

<thead>
 <tr>
 <th>Name</th>
 <th>country</th>
 <th>city</th>
 <th>Propaty type</th>
 <th>Nom of rooms</th>
 <th>Nom of bed</th>
 <th>Nom of guest</th>
 <th>Price(RM)</th>
 <th>Description</th>
 <th>House Rules</th>

 </tr>

</thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.country %></td>
        <td><%= listing.city %></td>
        <td><%= listing.room_type %></td>
        <td><%= listing.num_of_rooms %></td>
        <td><%= listing.bed_number %></td>
        <td><%= listing.guest_number %></td>
        <td><%= listing.price %></td>
        <td><%= listing.description %></td>
        <td><%= listing.house_rules %></td>

        <td><%= link_to 'Show', listing_path(listing) %></td>
        <td><%= link_to 'Edit?', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing_path(listing), method: :delete %></td>


       
      </tr>
    <% end %>
  </tbody>

</table>
</div>

<%= will_paginate @listings %>
