
<div class="main">
<% if @listing.photos?  %>
<!-- carousel With controls -->
<div class="container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
    <div class="carousel-inner">
          <div class="item active">
            <%= image_tag @listing.photos[0].url %>
          </div>
            <% @listing.photos.shift %>
            <% @listing.photos.each do |photo| %>
              <div class="item">
                <%= image_tag photo.url %>
              </div>
            <% end %>
        </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</div>
<% else %>
<% end %>


<div class="listing_information">

    <p>
    <strong>Name:</strong>
    <%= @listing.title %>
    </p>

    <p>
    <strong>Country:</strong>
    <%= @listing.country %>
    </p>

    <p>
    <strong>City:</strong>
    <%= @listing.city %>
    </p>

    <p>
    <strong>Propaty type:</strong>
    <%= @listing.room_type %>
    </p>

    <p>
    <strong>Num of rooms:</strong>
    <%= @listing.num_of_rooms %>
    </p>

    <p>
    <strong>Num of beds:</strong>
    <%= @listing.bed_number %>
    </p>

    <p>
    <strong>Num of guest:</strong>
    <%= @listing.guest_number %>
    </p>

    <p>
    <strong>Price/par night(RM):</strong>
    <%= @listing.price %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= @listing.description %>
    </p>

    <p>
    <strong>House rules:</strong>
    <%= @listing.house_rules %>
    </p>
</div>
</div>

<%= render "bookings/form" %>
<%= link_to "Edit?", edit_listing_path(@listing) %>
<%= link_to "Back", listings_path %>