

<!-- carousel With controls -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="la.jpg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


<div class="listing_information">

    <p>
    <strong>Name:</strong>
    <%= @listing.title %>
    </p>

    <p>
    <strong>Country:</strong>
    <%= @listing.country %>
    </p>

    <p>
    <strong>City:</strong>
    <%= @listing.city %>
    </p>

    <p>
    <strong>Propaty type:</strong>
    <%= @listing.room_type %>
    </p>

    <p>
    <strong>Num of rooms:</strong>
    <%= @listing.num_of_rooms %>
    </p>

    <p>
    <strong>Num of beds:</strong>
    <%= @listing.bed_number %>
    </p>

    <p>
    <strong>Num of guest:</strong>
    <%= @listing.guest_number %>
    </p>

    <p>
    <strong>Price/par night(RM):</strong>
    <%= @listing.price %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= @listing.description %>
    </p>

    <p>
    <strong>House rules:</strong>
    <%= @listing.house_rules %>
    </p>
</div>

<%= link_to "Edit?", edit_listing_path(@listing) %>
<%= link_to "Back", listings_path %>