<div class="listing_information">
<br>
<br>

    <p>
    <strong>Name:</strong>
    <%= @listing.title %>
    </p>

    <p>
    <strong>Country:</strong>
    <%= @listing.country %>
    </p>

    <p>
    <strong>City:</strong>
    <%= @listing.city %>
    </p>

    <p>
    <strong>Propaty type:</strong>
    <%= @listing.room_type %>
    </p>

    <p>
    <strong>Num of rooms:</strong>
    <%= @listing.num_of_rooms %>
    </p>

    <p>
    <strong>Num of beds:</strong>
    <%= @listing.bed_number %>
    </p>

    <p>
    <strong>Num of guest:</strong>
    <%= @listing.guest_number %>
    </p>

    <p>
    <strong>Price/par night(RM):</strong>
    <%= @listing.price %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= @listing.description %>
    </p>

    <p>
    <strong>House rules:</strong>
    <%= @listing.house_rules %>
    </p>
</div>

<%= link_to "Edit?", edit_listing_path(@listing) %>
<%= link_to "Back", listings_path %>