
<div class="main">
<!-- title -->
<div class="title"><h1>PairBnb</h1>
<p>Book unique homes and experience a city like a local.</p>
</div>

<!-- seach form-->
<div class="sub">where will you go?</div>
<!-- <div class="container_seach">
<%= form_tag listings_path, :method => 'get' do %>
  <%= text_field_tag :country %>
  <%= number_field_tag :guest_number %>
  <%= submit_tag 'Search', :listings => nil %>
 
<% end %>
</div> -->
<!-- search form -->
    <div class="container_seach">
    <%= form_tag(listings_path, class: 'form-inline', :method => "get") do %>
      <%= text_field_tag :country, params[:country], placeholder: "Anywhere", class:'form-control col-lg-6'%>
      <%= number_field_tag :guest_number ,params[:guest_number], placeholder: "Number of people", class:'form-control col-lg-6'%>
      <%= submit_tag "Search", class:'btn btn-secondary', style:'display: inline;'%>
    <% end %>
  </div>


<!-- image listing -->
<div class="main_listing_1">
    <div class="row">
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <a href="#">
	        <img src="/assets/242200.png" alt="Lights" style="width:100%">
	        <div class="caption">
	          <p>Tokyo</p>
	         
	        </div>
	      </a>
	    </div>
	  </div>
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <a href="#">
	        <img src="/assets/242200.png" alt="Nature" style="width:100%">
	        <div class="caption">
	          <p>Egypt</p>
	        </div>
	      </a>
	    </div>
	  </div>
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <a href="#">
	        <img src="/assets/242200.png" alt="Fjords" style="width:100%">
	        <div class="caption">
	          <p>Ísland</p>
	        </div>
	      </a>
	    </div>
      </div>
    </div>
</div>


	
</div>


