

<!-- first_name_form -->
<div class="text-field">
  <%= form.label :first_name %>
  <%= form.text_field :first_name, type: 'first_name' %>
</div>

<!-- last_name_form -->
<div class="text-field">
  <%= form.label :last_name %>
  <%= form.text_field :last_name, type: 'last_name' %>
</div>


<!-- email_form -->
<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<!-- password_form -->
<div class="password-field">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>
