<div class="user_information">
<br>
<br>


    <p>
    <strong>Name:</strong>
    <%= @user.first_name %> <%= @user.last_name %>
    </p>

    <p>
    <strong>Country:</strong>
    <%= @user.country %>
    </p>

    <p>
    <strong>Gender:</strong>
    <%= @user.gender %>
    </p>

    <p>
    <strong>Email:</strong>
    <%= @user.email %>
    </p>

    <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
    </p>

<!-- edit user's profile-->
<div>
<%= link_to "Edit?", edit_user_path %>
</div>

<!-- edit user's reservation-->
<div class="user_bookings">
    <%  if @bookings == true   %>
            <table>
            <tr>
                <td>Listing name</td>
                <td>Start_date</td>
                <td>End_date</td>
                <td>Number of guests</td>
                <td>Total</td>
            </tr>
                <% @bookings.each do |booking|%>
                <tr>
                <td><%= link_to booking.listing.title, booking.listing %></td>
                <td><%= booking.start_date %></td>
                <td><%= booking.end_date %></td>
                <td><%= booking.no_of_guests %></td>
                <td><%= booking.total_price %></td>
                <td><%= link_to "Cansel bookig", booking, method: :delete %></td>



                </tr>
            <% end %>
                    
            </table>

    <% end %>
</div>



</div>
  
