  <!DOCTYPE html>
<html>
  <head>
    <title>Bnb</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Bnb</a>
    </div>
    
          <div class="collapse navbar-collapse" id="navbarEexample">
            <ul class="nav navbar-nav">
            <% if signed_in? -%>
             <li><%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>
             <li><%= link_to "My page", user_path(current_user) %></li>
             <li><%= link_to "Listing", listings_path %></li>

              <% else -%>
              <li><%= link_to t(".sign_up"), sign_up_path %></li>
              <li><%= link_to t(".sign_in"), sign_in_path %></li>
            
          <% end -%>

            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="search?">
              </div>
              <button type="submit" class="btn btn-default">seach</button>
            </form>

            </ul>
      <div class="navbar-text navbar-right"><a href="#" class="navbar-link">Help</a></div>
  </div>
</nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
