  <!DOCTYPE html>
<html>
  <head>
    <title>Bnb</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
  </head>

<body>
<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-nav">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Bnb</a>
    </div>
    
          <div class="collapse navbar-collapse" id="navbarEexample">
            <ul class="nav navbar-nav">
            <% if signed_in? -%>
             <li><%= link_to t(".sign_out"), sign_out_path, method: :delete %></li>
             <li><%= link_to "My page", user_path(current_user) %></li>
             <li><%= link_to "Listing", listings_path %></li>

              <% else -%>
              <li><%= link_to t(".sign_up"), sign_up_path %></li>
              <li><%= link_to t(".sign_in"), sign_in_path %></li>
              <li><%= link_to "Listing", listings_path %></li>
            
          <% end -%>

            </ul>
      <div class="navbar-text navbar-right"><a href="#" class="navbar-link">Help</a></div>
      
  </div>
</nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
<!-- footer -->
<div class="container text-center">
  <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#">Terms of Service</a></li>
                <li><a href="/">© 22222 Company Name.</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
            <br />
                <a href="https://www.facebook.com"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://plus.google.com"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              <a href="/"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>
            

            </ul>
        </div>
    </div>
</div>

</html>
